<div id="buttons">
	<a id="button-resume" class="button-a fa fa-file" href="http://mattb.name/resume">
		<label>R&egrave;sum&egrave;</label>
	</a>
	<a id="button-projects" class="button-c fa fa-code" href="{{ site.baseurl }}/">
		<label>Projects</label>
	</a>
	<a id="button-linkedin" class="button-b fa fa-linkedin" href="http://mattb.name/linkedin">
		<label>LinkedIn</label>
	</a>
	<a id="button-teaching" class="button-e fa fa-book" href="{{ site.baseurl }}/teaching/">
		<label>Teaching</label>
	</a>
	<a id="button-contact" class="button-d fa fa-envelope" href="http://mattb.name/contact">
		<label>Contact</label>
	</a>
</div>