<div id="contact">
	<img src="http://24.media.tumblr.com/avatar_c56fe95a69b2_512.png" title="Portrait" />
	<h2>Contact Me</h2>
	<div class="message">
		I have accepted an internship offer for summer 2014,<br/>but am interested in opportunities for summer 2015.
	</div>
	<ul>
		<li>
			<!-- other characters in here to discourage spam -->
			<i class="fa fa-envelope"></i>
			&#109;&#97;&#116;&#116;&#98;<b>+nospam</b>&#64;&#99;&#115;&#46;<b>nospam.</b>&#117;&#116;&#101;&#120;&#97;&#115;&#46;<b>nospam.</b>&#101;&#100;&#117;
		</li>
		<li>
			<!-- other characters in here to discourage spam -->
			<i class="fa fa-phone"></i>
			&#53;<b>7</b>&#49;<b>9</b>&#50;<b>9</b>&#46;<b>0</b>&#54;<b>4</b>&#51;<b>6</b>&#53;<b>3</b>&#46;&#57;&#53;<b>2</b>&#56;&#56;<b>1</b>
		</li>
	</ul>
	<a class="fa fa-times-circle" id="contact_close" href="/"></a>
</div>