
/* general */

.description {
	font-size: 250%;
	padding-left: 25px;
	padding-right: 25px;
}

.subhead_wrapper {
	display: none;
}

#header {
	margin-bottom: 20px;
}

#header h1 {
	float: none;
	display: block;
	text-align: center;
	font-size: 650%;
	margin-bottom: 20px;
}

#header #buttons {
	float: none;
	display: block;
	text-align: center;
}

#header #buttons a {
	width: 90px;
	height: 90px;
	border-radius: 45px;
	font-size: 45px;
	line-height: 90px;
	margin-left: 20px;
	margin-right: 20px;
}

.description h2, .description h3, .description h4, .description h5, .description h6 {
	margin-bottom: 0.2em;
	margin-top: 0.4em;
}

#header #buttons a label {
	display: none !important;
}

#buttons a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* project pages */

.project_head {
	display: block;
	padding-left: 25px;
	padding-right: 25px;
	width: auto;
	margin-bottom: 20px;
}

.project_head h1 {
	display: block;
	font-size: 400%;
	width: auto;
	text-align: center;
}

.project_head .source_links {
	display: none; /* disabled for now, easy to enable later */
	width: auto;
	text-align: center;
}

.project_head .source_links a {
	display: block;
	font-size: 250%;
}

.slideshow img, .slideshow video {
	border-radius: 0;
}

/* projects page */

.chunk .description {
	position: relative;
	top: 0;
	left: 0;
	width: auto;
	margin-top: 10px;
	margin-bottom: 50px;
}

.chunk h2.title {
	font-size: 4em;
	top: -12px;
}

.chunk img {
	border-radius: 0;
}

.chunk .description h3, .chunk .description h4 {
	display: inline;
	font-weight: normal;
	font-size: 45px;
}

.chunk .description h4:before {
	content: '\2022\a0';
	color: #2c3e50;
}

.chunk .description ul li {
	display: inline;
}

.chunk .description ul li:after {
	content: ', ';
}
.chunk .description ul li:last-child:after {
	content: '';
}

#github_promo {
	font-size: 200%;
	padding-right: 25px;
	padding-left: 25px;
}

/* homepage */

#main {
	position: relative;
	display: block;
	text-align: center;
	top: 0;
	left: 0;
	margin-top: 30px;
	margin-left: 0;
	width: auto;
	font-size: 220%;
	padding-left: 25px;
	padding-right: 25px;
}

#main #buttons a {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	margin: 25px;
	font-size: 100px;
	line-height: 200px;
}

#main #buttons a label {
	display: block;
	color: white;
	font-size: 30pt;
	width: 100%;
	left: 0;
	margin: 0;
	line-height: 30pt;
	top: 160px;
}

/* contact card */

#contact, .page2 #contact, .page1 #contact {
	position: absolute;
	top: 250px;
	opacity: 1;
	margin-top: 0;
	height: auto;
	background: transparent;
	box-shadow: none;
	transition: none;
	font-size: 200%;
}

#contact, .page1 #contact {
	left: -100%;
	transition: left 0.15s linear;
}

.page2 #contact {
	left: 50%;
	transition: left 0.15s linear;
}

.page2 #main, .page1 #main {
	margin-top: 30px;
	transition: none;
}

#contact img {
	width: 450px;
	height: 450px;
	float: none;
	box-shadow: 0 0 50px #7f8c8d;
}

/* such a hack */
#contact img {

	position: relative;
	top: 210px;

}

/* such a hack */
#contact h2, #contact .message {

	position: relative;
	top: -500px;

}

#contact .message {
    padding: 0;
    font-size: 100%; /* for longer 2016 message, desktop layout makes this 85% */
    
    /* more hackiness for the longer 2016 message */
    width: 110%;
    left: -5%;
}

#contact ul {
	width: auto;
	display: block;
}

#contact ul li {
	font-size: 35pt;
	margin-bottom: 5px;
}

#contact ul li i {
	font-size: 25pt;
	margin-right: 20px;
}

.tel_link {
	text-decoration: underline;
}

#contact_close {
	font-size: 70px;
	width: 70px;
	height: 70px;
	top: 50%;
	margin-top: -35px;
	left: -35px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#contact_close:before {
	content: "\f0a8" !important;
}