---
layout: hasHeader
headerTitle: Projects
headerTitleLink: /
javascript:
 - jquery
 - jquery_slides
 - project_slideshow
---
<div class="project_head">
	<h1>{{ page.title }}</h1>
	{% if page.links %}
		<div class="source_links">
		{% for link in page.links %}
			<a class="source_link" href="{{ link.url }}">{{ link.title }} <i class="fa fa-chevron-circle-right"></i></a>
		{% endfor %}
		</div>
	{% endif %}
</div>

<div class="slideshow">
{% for slide in page.slideshow %}
	{% if slide.image %}<img src="{{ slide.image }}" />{% endif %}
	{% if slide.youtube %}<object width="780" height="400"><param name="movie" value="http://www.youtube.com/v/{{ slide.youtube }}?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{ slide.youtube }}?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="780" height="400" allowscriptaccess="always" allowfullscreen="true"></embed></object>{% endif %}
	{% if slide.html5 %}<video class="autoplay" width="780" height="400" autoplay="autoplay" {% if slide.thumbnail %}poster="{{ slide.thumbnail }}" {% endif %}loop><source src="{{ slide.html5 }}"{% if slide.format%} type="{{ slide.format }}"{% endif %}></video>{% endif %}
{% endfor %}
</div>
<script type="text/javascript">
// sometimes HTML5 videos in the slideshow don't autoplay
$(function() {
	$("video.autoplay").each(function() {
		this.play();
	});
});
</script>

<div class="description">
	{{ content }}
</div>